<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to auth-server</title>

    <!-- styles -->
    {% style "/assets/bulma/css/bulma.min.css" %}
    {% style "/assets/material-icons/css/material-icons.min.css" %}

    {% style "/css/screen.css" %}
  </head>
  <body>
      <!-- navbar -->
      <nav class="navbar is-info">
          <div class="container">
              <div class="navbar-brand">
                  <a class="navbar-item" href="/" style="font-weight:bold;">auth-server</a>
                  <span class="navbar-burger burger" data-target="nav-menu">
                      <span></span>
                      <span></span>
                      <span></span>
                  </span>
              </div>
              <div id="nav-menu" class="navbar-menu">
                  <div class="navbar-start">
                      <a href="/" class="navbar-item{% ifequal page "home.html" %} is-active{%endifequal%}">Home</a>
                      <a href="/login" class="navbar-item{% ifequal page "login.html" %} is-active{%endifequal%}">Log In</a>
                      <a href="/api/api-docs/" class="navbar-item">API Docs</a>
                  </div>
              </div>
          </div>
      </nav>

      <section class="section">
          <div class="container">
              {% block content %}
              {% endblock %}
          </div>
      </section>

    <!-- scripts -->
      <script type="text/javascript">
       (function() {
           var burger = document.querySelector('.burger');
           var nav = document.querySelector('#'+burger.dataset.target);
           burger.addEventListener('click', function(){
               burger.classList.toggle('is-active');
               nav.classList.toggle('is-active');
           });
           document.addEventListener('DOMContentLoaded', () => {
               (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                   var $notification = $delete.parentNode;

                   $delete.addEventListener('click', () => {
                       $notification.parentNode.removeChild($notification);
                   });
               });
           });
       })();
      </script>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
   
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
