{% extends "base.html" %}
{% block content %}
  <div class="content">
      <h1 class="title">Welcome!</h1>
      <p>This is an example authorization server. The goal is to implement a server which meets the requirements for <a href="https://tools.ietf.org/html/rfc6749">RFC6749</a>.</p>
      <p>This UI provides some admin functionality, <a href="/login">login</a> to get started.</p>
      <p>Check out the <a href="/api/api-docs">API docs</a> to see what operations are supported.</p>
  </div>
{% endblock %}
