{% extends "base.html" %}
{% block content %}
  <h1 class="title">Log in with your credentials</h1>
  {% if error %}
  <div class="notification is-danger">
      <button class="delete"></button>
      {{error}}
  </div>
  {% endif %}
  <form method="post" action="/api/login">
      <div class="field">
          <label class="label" for="username">Username</label>
          <div class="control has-icons-left">
              <input id="username" class="input" type="text" name="username" placeholder="Username" required=true />
              <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
              </span>
          </div>
      </div>
      <div class="field">
          <label class="label" for="password">Password</label>
          <div class="control has-icons-left">
              <input id="password" class="input" type="password" name="password" placeholder="Password" required=true />
              <span class="icon is-small is-left">
                  <i class="fas fa-key"></i>
              </span>
          </div>
      </div>
      {% if client_description %}
          <div class="field">
              <label class="checkbox">
                  <input type="checkbox" name="conform-client-access" required=true>
                  Allow <strong>{{client_description}}</strong> to access my account.
              </label>
          </div>
      {% endif %}
      {% if client_id %}
          <input type="text" name="client_id" value="{{client_id}}" hidden="true" />
      {% endif %}
      {% if redirect_uri %}
          <input type="text" name="redirect_uri" value="{{redirect_uri}}" hidden="true" />
      {% endif %}
      {% if type %}
          <input type="text" name="type" value="{{type}}" hidden="true" />
      {% endif %}
      <button class="button is-primary">Submit</button>
      <a class="button" href="/">Cancel</a>
  </form>
{% endblock %}
