{% extends "client/base.html" %}
{% block content %}
  <div class="content">
      <h1 class="title">Welcome!</h1>
      <p>This is an example client to demo and test the auth-server functionality.</p>
      <div class="box">
          <p class="title">Authorization Code</p>
          <p>Demostrates the <a href="https://tools.ietf.org/html/rfc6749#section-4.1">Authorization Code</a> grant type.</p>
          <button id="authorization-code" class="button is-primary">Login</button>
      </div>
      <div class="box">
          <p class="title">Client Credentials</p>
          <p>Demostrates the <a href="https://tools.ietf.org/html/rfc6749#section-4.4">Client Credentials</a> grant type.</p>
          <button id="client-credentials" class="button is-primary">Login</button>
      </div>
  </div>
{% endblock %}
