{% extends "client/base.html" %}
{% block content %}
  <div class="content">
      <p>Logging in...</p>
      <progress class="progress is-primary">20%</progress>
  </div>
{% endblock %}
{% block page-scripts %}
  <script type="text/javascript">
   (function() {
       var params = {};

       window.location.search
             .substring(1)
             .split('&')
             .forEach(function(param){
                 var kv = param.split('=');
                 params[kv[0]] = kv[1];
             });

       var tokenEndpoint = 'http://localhost:3000/api/token';
   })();
  </script>
{% endblock %}
