{% extends "client/base.html" %}
{% block content %}
  <div class="content">
      <p>Logging in...</p>
      <progress class="progress is-primary">20%</progress>
  </div>
{% endblock %}
{% block page-scripts %}
  <script type="text/javascript">
   (function() {
       var clientId = 'dev-client';
       var tokenEndpoint = 'http://localhost:3000/api/token';
       var params = new URLSearchParams(window.location.search);
       var formData = new URLSearchParams();

       formData.append('client_id', clientId);
       formData.append('code', params.get('code'));
       formData.append('grant_type', 'authorization_code');
       formData.append('redirect_uri', 'http://localhost:4000');

       async function fetchToken() {
           var response = await fetch(tokenEndpoint, {
               method: 'POST',
               headers: {
                   'Content-Type': 'application/x-www-form-urlencoded'
               },
               body: formData
           });

           return response.json();
       }

       fetchToken()
           .then(function(data) {
               window.localStorage.setItem('token', data.access_token);
               window.location = '/';
           })
           .catch(function(error) {
               console.log(error);
           });
   })();
  </script>
{% endblock %}
